# KiCad auto-backup folders (any board)
*-backups/

# KiCad local caches / lock / autosave files
fp-info-cache
*.lck
~*
*-bak
*.kicad_pcb-bak
*.kicad_sch-bak
_autosave-*

# KiCad scratch project state files (temp/unsaved projects)
PCB/Projects/Main Board/PGS5F27.kicad_prl
PCB/Projects/Stick Board/PGSAFB4.kicad_prl

# CAD working files
3D/plasticity/
